@model CBCCProject.Entities.Job

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="JobID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
